{% extends 'base.html' %}

{% block title %}Home{% endblock title %}

{% block body %}
<div class="container-fluid mb-3 px-0">
    <img src="https://source.unsplash.com/1200x400/?opinion" class="d-block w-100 mx-0" alt="...">
</div>
<div class="container py-4">
    <h3 style="text-align: center;">Contact Us</h3>
    <form method="post" action="/contact">
    {% csrf_token %}
        <div class="mb-4">
            <label for="name" class="form-label">Name:</label>
            <input type="text" class="form-control" id="name" name="name" placeholder="Please Enter your name">
        </div>
        <div class="mb-4">
            <label for="exampleFormControlInput1" class="form-label">Email address:</label>
            <input type="email" class="form-control" name="email" id="email"
                placeholder="Please Enter your E-Mail Address">
        </div>
        <div class="mb-4">
            <label for="phone" class="form-label">Phone Number: (Optional)</label>
            <input type="phone" class="form-control" id="phone" name="phone" placeholder="Please Enter Your Mobile Phone Number">
        </div>
        <div class="mb-4">
            <label for="desc" class="form-label">Query:</label>
            <textarea placeholder="Please Tell me what you want to contact me for..." class="form-control" id="desc"
                rows="3" name="desc"></textarea>
        </div>
        <div class="col-auto">
            <button type="submit" class="btn btn-success mb-3">Submit</button>
        </div>
    </form>
</div>

{% endblock body %}
